@page "/"

<PageTitle>Index</PageTitle>

@using Scrapper.Services
@using Scrapper.Models
@using System.Collections.Concurrent
@using System.Timers
@using System.Text.RegularExpressions
@inject IWatcherService WatcherService

<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <h1>Livestreams</h1>
    </div>
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" style="min-width: 120px;" class="form-control" placeholder="Stream">
            <select class="custom-select" style="min-width: 120px;" @bind="selectStream">
                <option selected value="">Choose...</option>
                @foreach (var name in Enum.GetNames(typeof(EnvironmentModel.Websites)))
                {
                    <option value="@name.ToLower()">@name</option>
                }
            </select>
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" @onclick="AddStream" disabled="@canAdd">
                Add
                </button>
            </div>
        </div>
    </div>
  </div>
</div>

@if (streams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @*<th></th>*@
                <th>Website</th>
                <th>Channel</th>
                <th>Status</th>
                <th>Current Game</th>
                <th>Viewers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stream in streams)
            {
                <tr>
                    @*<td><input type="checkbox" name="brand"></td>*@
                    <td>@Regex.Replace(stream.Website, "^[a-z]", m => m.Value.ToUpper())</td>
                    <td>@stream.Channel</td>
                    @if (stream.Status == EnumsModel.ScrapperStatus.Waiting)
                    {
                        if (stream.WaitTimer.TimeLeft <= 0 || stream.WaitTimer.ElapsedOnce)
                        {
                            <td>Starting...</td>
                        }
                        else
                        {
                            <td>@stream.Status (@TimeSpan.FromMilliseconds(stream.WaitTimer.TimeLeft).ToString(@"hh\:mm\:ss"))</td>
                        }
                        <td></td>
                        <td></td>
                    }
                    else if(stream.Status == EnumsModel.ScrapperStatus.Running)
                    {
                        <td>@stream.Status</td>
                        <td>@stream.Scrapper.CurrentGame</td>
                        <td>@stream.Scrapper.ViewersCount</td>
                    }
                    else
                    {
                        <td>@stream.Status</td>
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private BlockingCollection<Stream> streams = new();
    private string selectStream;
    private bool canAdd = false;

    protected override void OnInitialized()
    {
        Task.Run(UpdateOnSeconds, WatcherService.CancellationToken);
    }

    protected async Task UpdateOnSeconds()
    {
        while (true)
        {
            List<Stream> localList = WatcherService.ListStreams;
            streams = new BlockingCollection<Stream>(new ConcurrentQueue<Stream>(localList));;
            await InvokeAsync(() => { StateHasChanged(); });
            await Task.Delay(1000);            
        }
    }

    private void AddStream()
    {
        //if (WatcherService.AddStream())
        //{
            
        //}
    }
}
